<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CrossFlex - Ultimate Daily Workout</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">CrossFlex - Ultimate Daily Workout</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/login">Log In</a></li>
							<li><a href="/signup" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2><img src="images/logo.png"> </h2>
					<ul class="actions special">
						<li><a href="/login" class="button">Log In</a></li>
						<li><a href="/signup" class="button primary">Sign Up</a></li>
						
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>
								Ultimate Daily Workouts with CrossFlex
							</h2>
							<p>Get your fitness journey started with a free membership today!</p>
						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="People working out" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Updated Daily</h3>
								<p>Access to a new set of workouts targeting multiple muscle groups each day</p>
							</section>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>Competitive Edge</h3>
								<p>Check in and stay motivated by ranking up on our leaderboards</p>
								
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-cloud accent4"></span>
								<h3>Earn Points</h3>
								<p>Get a routine going and earn points for each completed excercise</p>
								
							</section>
							<section>
								<span class="icon solid major fa-lock accent5"></span>
								<h3>Free Membership</h3>
								<p>Sign up today for full access to all features at no cost</p>
							</section>
						</div>
					</section>


				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign Up Now!</h2>
					<p>Get started on your fitness jouney and sign up for a free membership today.</p>

					<ul class="actions special">
						<li><a href="/signup" class="button primary">Sign Up</a></li>
						<li><a href="/login" class="button">Log In</a></li>
						
						
					</ul>

				</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; CrossFlex - Ultimate Daily Workout. All rights reserved.</li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>