<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CrossFlex - Ultimate Daily Workout</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		
		<div id="page-wrapper">
			<img class="bg-corner" src="images/corner1.jpg">
				<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">CrossFlex - Ultimate Daily Workout</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/signup" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2> <img src="images/logo.png" alt="CrossFlex - Ultimate Daily Workout"> <h2>
					</header>
					<div class="box">
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
						<h3>Log In</h3>
						<p>Enter your email and password to log in</p>

						<% if (locals.messages.errors) { %>
							<% messages.errors.forEach( el => { %>
								<div class="alert alert-danger"><%= el.msg %></div>
							<% }) %>    
						<% } %>
						<% if (locals.messages.info) { %>
							<% messages.info.forEach( el => { %>
								<div class="alert alert-danger"><%= el.msg %></div>
							<% }) %>    
						<% } %>
						<div class="row">
							
							
							<form action="/login" method="POST">
								<input type="email" name="email" placeholder="Email">
								<input type="password" name="password" placeholder="Password">
								<input type="submit">
							</form>

						</div>
					</div>
				</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; CrossFlex - Ultimate Daily Workout. All rights reserved.</li>
				</ul>
			</footer>

	</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>